{% extends 'base.html' %}
{% block title %}
    상세
{% endblock %}
{% block content %}
    <h2>{{ question.title }}</h2>
    <form action="{% url 'vote' pk=question.pk %}" method="POST">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="radio">
                <label>
                    <input type="radio" name="vote" value="{{ choice.pk }}">
                    {{ choice.title }}
                    {{ choice.votes }}
                </label>
            </div>
        {% endfor %}
        <input type="submit" value="투표하기">
    </form>
{% endblock %}